
.translucent-form-overlay {
    max-width: 960px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
  }
  
  .translucent-form-overlay .columns.row {
    display: inline-block;
  }
  
  .translucent-form-overlay label {
    color: #fefefe;
    padding-left: 2%;
  }
  
  .translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::placeholder {
    color: #8a8a8a;
  }
  
  .primary.button {
      padding-left: 5px;
      padding-right: 5px;
  }

  #advanced-search {
      margin-left: 40px;
  }