.ul {
  text-align: right;
  display: inline-block;
  color: blue;
}
.translucent-form-overlay {
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;  
  }
  
  .translucent-form-overlay .columns.row {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .translucent-form-overlay label {
    color: #fefefe;
    padding-left: 2%;
  }
  
  .translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::placeholder {
    color: #8a8a8a;
  }

  img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
}
